.party-heading {
  margin-bottom: 1rem;
  font-family: var(--font-cursive);
  font-size: 2.75rem;
}

.party {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.section {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
}

.mb-1 {
  margin-bottom: 1rem;
}

.party-card {
  padding: 2rem;
  height: 17rem;
}

.party-card:first-child {
  grid-column: span 2;
}

.profile-img {
  margin-bottom: 1rem;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 20px;
}

.party p {
  font-size: 1.25rem;
}

.party h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
  }

  .profile-img {
    height: 8rem;
    width: 8rem;
  }

  .party {
    width: 100%;
  }

  .party h3 {
    font-size: 1.25rem;
  }

  .party p {
    font-size: 1rem;
  }
}