.registry {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.content {
  margin: 0 auto;
  width: 65%;
  font-size: 2rem;
}

.registry img{
  border: 2px solid rgba(0, 0, 0, 0.288);
  border-radius: 20px;
  padding: 20px;
  margin-top: 2rem;
  width: 20rem;
  opacity: 0.75;
}

.registry img:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .registry {
    width: 100%;
  }

  .content {
    width: 90%;
    font-size: 1.25rem;
  }
}