.home {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.rsvp {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rsvp-btn {
  background-color: var(--clr-rose);
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: var(--radius);
}

.rsvp-btn a {
  text-decoration: none;
  color: var(--clr-white);
}

.home p {
  font-size: 2rem;
}

h1 {
  font-family: var(--font-cursive);
  font-size: 3rem;
}