.maps {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
}

.venue {
  width: 60%;
  text-align: center;
}

.parking {
  padding: 1rem;
  width: 20%;
  text-align: left;
}

.parking h3 {
  font-size: 2rem;
}

.parking ul {
  list-style-type: none;
}

.parking li {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .maps {
    display: block;
  }

  .venue {
    width: 100%;
  }
  
  .parking {
    width: 100%;
  }
}
